* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ededed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh ;
}

header {
    display: flex;
    padding: 10px;
    width: 80%;
    justify-content: space-between;

}

header h1 {
    
    font-size: 12px;
    color: purple;
}

header p {
    
    font-size: 12px;
    color: purple;
}

main {
    margin: 0 auto;
    padding: 50px;
    width: 80%;
    
}

main h1 {
    
    width: 50%;
}

main p {
    padding: 30px;
    width: 50%;
}

.title {
    
}

#start  {
    font-size: 20px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}

#question {
    font-size: 22px;
    font-weight: 100;
}
.choice, .submit, #restart, #clearHighScore{
    font-size: 20px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    text-align: justify;
    width: 35%;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    cursor: pointer;
}
