* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ededed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh ;
}

header {
    display: flex;
    padding: 10px;
    width: 80%;
    justify-content: space-between;

}

header h1 {
    
    font-size: 12px;
    color: purple;
}

header p {
    
    font-size: 12px;
    color: purple;
}

main {
    margin: 0 auto;
    padding: 50px;
    width: 80%;
    
}

main h1 {
    
    width: 50%;
}

main p {
    padding: 30px;
    width: 65%;
}

.title {
    
}

#start  {
    font-size: 20px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}

#question {
    font-size: 22px;
    font-weight: 100;
}
.choice, .submit, #restart, #clearHighScore{
    font-size: 20px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    text-align: justify;
    width: 45%;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    cursor: pointer;
}

#container, #quiz, #scoreContainer {
    border: solid 1px black;
    padding: 45px;
    width: 65%;
}

#choices {
    border-bottom: solid 1px gray;
    padding-bottom: 15px;
}

#result {
    padding: 2px;
    font-style: italic;
    color: rgb(132, 139, 138)
}

.final-score {
    padding: 5px 0px 5px 0px
}

#form {
    padding: 5px 0px 5px 0px
}

#submit {
    margin-top: 15px;
}

#score {
    font-size: 18px;
    font-weight: bold;
}

#theHighScore{
    background-color: rgb(238, 213, 213);
    width: 35%;
    padding: 10px;
    margin: 0px;
}


