* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ededed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh ;
}

header {
    display: flex;
    padding: 10px;

}

header h1 {
    justify-content: flex-start;
    font-size: 12px;
    color: purple;
}

main {
    margin: 0 auto;
    padding: 50px;
    width: 100%;
    
}

main h1 {
    
    width: 50%;
}

main p {
    padding: 30px;
    width: 50%;
}

.btn {
    padding: 10px;

}